@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

html,
body,
main {
	width: 100%;
	height: 100%;
	color: #001d1d;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
}

strong {
	font-weight: 700;
}

input:focus {
	border-color: #001d1d!important;
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

svg,
img {
	max-width: 100%;
    height: auto;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/fond.png');
}

#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 100000;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#conteneur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 12em 1em 6em;
	margin: auto;
}

h1 {
	font-family: 'HKGrotesk-Black', sans-serif;
	font-size: 3em;
	font-weight: 400;
	margin-bottom: 0.85em;
	line-height: 1.4;
}

#conteneur p {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.5em;
}

#donnees {
	max-width: 450px;
    margin: 0 auto;
	text-align: left;
}

#donnees label {
	display: block;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 0.5em;
}

#donnees input {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.5em 0.9em;
	background: #fff;
}

#donnees input {
	width: 100%;
}

#code-qr {
	font-size: 0;
	width: 320px;
	height: 320px;
	margin: auto;
}

#bouton {
	display: inline-block;
    text-align: center;
	line-height: 1;
    font-size: 1em;
	font-weight: 700;
    text-transform: uppercase;
    padding: 1em 2em;
    border: 2px solid #00ced1;
	border-radius: 2em;
	background: #46fbff;
	cursor: pointer;
	margin-top: 1.5em;
    transition: all ease-in 0.1s;
	user-select: none;
}

#bouton:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background: #fff;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.conteneur-modale {
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.conteneur-modale.ouvert {
	display: flex;
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 360px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
}

.modale header .fermer {
	user-select: none;
	cursor: pointer;
	font-size: 0;
	margin-right: 10px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	user-select: none;
	transition: all ease-in 0.1s;
}

.modale .conteneur .bouton:hover {
	color: #fff;
	background: #001d1d;
}

.modale .conteneur .actions {
	margin-top: 20px;
	text-align: center;
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur .couleurs {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.modale .conteneur .couleur {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}

.modale .conteneur .couleur.noir {
	background: #001d1d;
}

.modale .conteneur .couleur.bleu {
	background: #00ced1;
}

.modale .conteneur .couleur.rouge {
	background: #ff2d55;
}

.modale .conteneur .couleur.vert {
	background: #47ba7a;
}

.modale .conteneur #supprimer,
.modale .conteneur #ajout-image,
.modale .conteneur #selecteur {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.modale .conteneur #selecteur {
	margin-right: 10px;
}

.modale .conteneur #supprimer {
	display: none;
}

.modale .conteneur #supprimer.visible {
	display: flex;
	margin-left: 10px;
}

.modale .conteneur #ajout-image label,
.modale .conteneur #selecteur label {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 0;
}

.modale .conteneur #ajout-image input,
.modale .conteneur #selecteur input {
    display: none;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}
	
	#bouton {
		font-size: 0.75em!important;
	}

	#code-qr {
		width: 250px;
		height: 250px;
	}

	.modale .conteneur .couleur {
		width: 30px;
		height: 30px;
		margin-right: 7px;
	}

	.modale .conteneur #selecteur {
		margin-right: 7px;
	}
	
	.modale .conteneur #supprimer.visible {
		display: flex;
		margin-left: 7px;
	}
	
	.modale .conteneur #supprimer svg,
	.modale .conteneur #ajout-image label svg,
	.modale .conteneur #selecteur label svg {
		width: 30px;
		height: 30px;
	}
}

@media screen and (min-width: 360px) and (max-width: 399px) {
	#code-qr {
		width: 280px;
		height: 280px;
	}

	.modale .conteneur .couleur {
		width: 32px;
		height: 32px;
	}
	
	.modale .conteneur #supprimer svg,
	.modale .conteneur #ajout-image label svg,
	.modale .conteneur #selecteur label svg {
		width: 32px;
		height: 32px;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 5em 1em 2.5em;
	}
}

@media screen and (max-width: 399px) {
	h1 span {
		display: block;
	}
}

@media screen and (max-width: 599px) {
	h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#donnees label {
		font-size: 0.8em;
	}
	
	#donnees input {
		font-size: 1em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 599px) {
	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em;
	}

	#conteneur p {
		font-size: 1em!important;
	}
	
	#donnees input {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#contenu {
		padding: 7em 1em 3.5em;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#donnees label {
		font-size: 0.8em;
	}
	
	#donnees input {
		font-size: 1em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}
	
	.modale {
		height: 90%;
		max-height: 352px;
	}
}
